In [63]:
# Fadly Faturrohman
# 152017076

In [85]:
import pandas as pd
import numpy as np
import random
data = pd.read_csv("F:\kuliah\Simulasi\montecarlo.csv", sep=';')
data
# pd.DataFrame(data, columns=["Minggu", "Frekuensi"])

   Minggu  Frek
0       0    40
1       1    20
2       2    33
3       3    26
4       4    38
5       5    35
6       6    30

In [86]:
minggu = data["Minggu"].to_numpy()
frekuensi = data["Frek"].to_numpy()

print(minggu, frekuensi)

sigma_f = 0
for i in range(len(frekuensi)):
    sigma_f = sigma_f + frekuensi[i]

print("ΣFrekuensi:",sigma_f)

[0 1 2 3 4 5 6] [40 20 33 26 38 35 30]
ΣFrekuensi: 222

In [87]:
prob =[]
sum_f=0
for a in range(len(frekuensi)):
    sum_f = frekuensi[a]/sigma_f
    print("probabilitas minggu ke-",a,"=",sum_f)
    prob.append(sum_f)

prob_d=np.array([prob])
data = np.concatenate((data, prob_d.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas"])

probabilitas minggu ke- 0 = 0.18018018018018017
probabilitas minggu ke- 1 = 0.09009009009009009
probabilitas minggu ke- 2 = 0.14864864864864866
probabilitas minggu ke- 3 = 0.11711711711711711
probabilitas minggu ke- 4 = 0.17117117117117117
probabilitas minggu ke- 5 = 0.15765765765765766
probabilitas minggu ke- 6 = 0.13513513513513514

   Minggu Ke  Frekuensi  Probabilitas
0        0.0       40.0      0.180180
1        1.0       20.0      0.090090
2        2.0       33.0      0.148649
3        3.0       26.0      0.117117
4        4.0       38.0      0.171171
5        5.0       35.0      0.157658
6        6.0       30.0      0.135135

In [67]:
prob_k =[]
sum_p=0
for a in range(len(frekuensi)):
    sum_p = sum_p + prob[a]
    print("probabilitas kumulatif minggu ke-",a,"=",sum_p)
    prob_k.append(sum_p)
    
prob_kd=np.array([prob_k])
data = np.concatenate((data, prob_kd.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas","Probabilitas Kumulatif"])

probabilitas kumulatif minggu ke- 0 = 0.18018018018018017
probabilitas kumulatif minggu ke- 1 = 0.2702702702702703
probabilitas kumulatif minggu ke- 2 = 0.41891891891891897
probabilitas kumulatif minggu ke- 3 = 0.5360360360360361
probabilitas kumulatif minggu ke- 4 = 0.7072072072072073
probabilitas kumulatif minggu ke- 5 = 0.8648648648648649
probabilitas kumulatif minggu ke- 6 = 1.0

   Minggu Ke  Frekuensi  Probabilitas  Probabilitas Kumulatif
0        0.0       40.0      0.180180                0.180180
1        1.0       20.0      0.090090                0.270270
2        2.0       33.0      0.148649                0.418919
3        3.0       26.0      0.117117                0.536036
4        4.0       38.0      0.171171                0.707207
5        5.0       35.0      0.157658                0.864865
6        6.0       30.0      0.135135                1.000000

In [68]:
interval_min = []
min_v=0
for a in range(len(frekuensi)):
    if(a==0):
        interval_min.append(min_v)
        print("Interval Minggu ke-",a," = ",min_v,"-",prob_k[a])
    else:
        min_v = prob_k[a-1]+0.001
        interval_min.append(min_v)
        print("Interval Minggu ke-",a," = ",min_v,"-",prob_k[a])
        
interval_mind=np.array([interval_min])
data = np.concatenate((data, interval_mind.T),axis=1)
interval_maxd=np.array([prob_k])
data = np.concatenate((data, interval_maxd.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas","Probabilitas Kumulatif","Interval Batas Bawah","Interval Batas Atas"])

Interval Minggu ke- 0  =  0 - 0.18018018018018017
Interval Minggu ke- 1  =  0.18118018018018017 - 0.2702702702702703
Interval Minggu ke- 2  =  0.2712702702702703 - 0.41891891891891897
Interval Minggu ke- 3  =  0.41991891891891897 - 0.5360360360360361
Interval Minggu ke- 4  =  0.5370360360360361 - 0.7072072072072073
Interval Minggu ke- 5  =  0.7082072072072073 - 0.8648648648648649
Interval Minggu ke- 6  =  0.8658648648648649 - 1.0

,Minggu Ke,Frekuensi,Probabilitas,Probabilitas Kumulatif,Interval Batas Bawah,Interval Batas Atas
0,0.0,40.0,0.180180,0.180180,0.000000,0.180180
1,1.0,20.0,0.090090,0.270270,0.181180,0.270270
2,2.0,33.0,0.148649,0.418919,0.271270,0.418919
3,3.0,26.0,0.117117,0.536036,0.419919,0.536036
4,4.0,38.0,0.171171,0.707207,0.537036,0.707207
5,5.0,35.0,0.157658,0.864865,0.708207,0.864865
6,6.0,30.0,0.135135,1.000000,0.865865,1.000000

In [69]:
minggu_baru=101
p_minggu = []
angka_acak = []
permintaan = []
for a in range(16):
    p_minggu.append(minggu_baru)
    acak = random.random()
    angka_acak.append(acak)
    if(acak<0.2):
        jenis = 0
        permintaan.append(jenis)
    elif(acak<0.6):
        jenis = 1
        permintaan.append(jenis)
    elif(acak<0.8):
        jenis = 2
        permintaan.append(jenis)
    elif(acak<0.9):
        jenis = 3
        permintaan.append(jenis)
    elif(acak<=1):
        jenis = 4
        permintaan.append(jenis)
    minggu_baru+=1

In [70]:
print("Minggu Ke-","|","Angka Acak","|","Permintaan")
for a in range(16):
    print(p_minggu[a],"|",angka_acak[a],"|",permintaan[a])

Minggu Ke- | Angka Acak | Permintaan
101 | 0.22547514177129424 | 1
102 | 0.5493778345719277 | 1
103 | 0.6285922029122868 | 2
104 | 0.3042075595094762 | 1
105 | 0.8189014991229722 | 3
106 | 0.08945737796183517 | 0
107 | 0.5092934792987964 | 1
108 | 0.874762668485841 | 3
109 | 0.54781698795948 | 1
110 | 0.3710263807597842 | 1
111 | 0.45833589706923716 | 1
112 | 0.9198956202764257 | 4
113 | 0.16855709835558763 | 0
114 | 0.14311079592269238 | 0
115 | 0.09475671442401656 | 0
116 | 0.9584028943800764 | 4